.contact-img-container {
  align-items: center;
  background-image: url("media/iba.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center bottom;
  height: 90vh;
  width: 100%;
}

