.button-container {
  text-align: center;
}
#comp-screen1 {
  background-color: rgb(54, 52, 52);
}
#comp-screen2 {
  background-color: rgb(54, 52, 52);
}
#comp-screen2 {
  background-color: rgb(54, 52, 52);
}
#comp-screen3 {
  background-color: rgb(54, 52, 52);
}
#comp-screen4 {
  background-color: rgb(54, 52, 52);
}
#comp-screen5 {
  background-color: rgb(54, 52, 52);
}
