* {
  font-family: "Roboto", sans-serif;
}
.fbIcon:hover {
  color: #3b5998;
}
.igIcon:hover {
  color: #e1306c;
}
.ytIcon:hover {
  color: #ff0000;
}
.page-link:hover {
  font-size: 1.2em;
  color: #b5f732;
}
.page-link {
  transition: 0.2s;
}

.nav-socials {
  width: 30%;
}
.nav-main {
  width: 40%;
  text-align: center;
}
.nav-right {
  width: 30%;
  text-align: right;
}

.navbar-container {
  padding: 1.5em;
  box-sizing: border-box;
}

/* This class is added on scroll */
.fixed {
  height: 10%;
}

/* Navigation Settings */
nav {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 10%;
  background: black;
  background: rgba(0, 0, 0, 0.9);
}

nav li {
  display: inline;
  padding: 0.5em;
}

nav li a {
  color: white;
  text-transform: uppercase;
  transition: 0.1s;
  text-decoration: none;
}
nav li a:hover {
  color: #f399f0;
}

/* Screens Settings */

@media only screen and (max-width: 520px) {
  nav li {
    padding: 24px 4px;
  }

  nav li a {
    font-size: 0.875em;
  }
}
.dropdown-content {
  display: block;
  transition: 0.1s;
  padding: 2em;
  border: 5px solid rgba(198, 54, 191, 1);
  background: rgba(0, 0, 0, 1);
  border-radius: 50px;
}
