@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img-container {
  display: flex;
  align-items: center;
  background-image: url("media/animibacon.gif");
  background-size: contain;
  background-repeat: no-repeat;
  height: max-content;
  min-height: min(90vh, 90vw);
  width: 100vw;
  flex-direction: column-reverse;
}

.pass-btn {
  background-image: linear-gradient(155deg, #5c92f1 0%, #ad1ba3 100%);
  margin: max(5vh, 5vw);
  padding: 1em;
  width: max(20vw, 10vh);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.pass-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 rgba(252, 252, 252, 0.8);
}
