body {
  margin: 0;
  padding: 0;
}
.module-section {
  max-height: min-content;
}
:root {
  background-color: black;
}
.about-section4 {
  font-size: 40px;
  text-align: center;
  padding: 50px 0; /* Adjust padding for spacing */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff7f7f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url("media/anime-lights-audience-crowd-wallpaper-preview.jpg");
  background-position: center;
  background-size: contain;
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: row;
}

/* Media Query for screens smaller than 768px (adjust the value as needed) */
@media only screen and (max-width: 768px) {
  .about-section4 {
    font-size: 24px; /* Adjust font size for smaller screens */
    padding: 30px 0; /* Adjust padding for spacing on smaller screens */
    background-size: cover; /* Use 'cover' to maintain image size on smaller screens */
  }
}
