body {
    margin: 0;
    padding: 0;
}
.aboutsection {
  text-align: center;
  padding: 50px 0; /* Adjust padding for spacing */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-section13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./artsmedia/Arts-Module-background.png");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section13 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section13 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section13 img {
  width: auto;
  max-width: min(100vw, 80vh);
  height: auto;
}

.about-section13 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section13 > div {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section13 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}


.about-section14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./artsmedia/traditional-art-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section14 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section14 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section14 img {
  width: auto;
  max-width: min(100vw, 35vh);
  height: auto;
}

.about-section14 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section14 > div {
    font-size: 20px;
    flex-direction: column;
    align-items: center;
  }
  
  .about-section14 img {
    max-width: min(40vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}


.about-section15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./artsmedia/rick\ and\ morty.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section15 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section15 > div {
  font-size: 22.5px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section15 img {
  width: auto;
  max-width: min(100vw, 50vh);
  height: auto;
}

.about-section15 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section15 > div {
    font-size: 15px;
    flex-direction: column;
    align-items: center;
  }
  
  .about-section15 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}
