body{
    margin: 0;
    padding: 0;
}

.aboutsection {
  text-align: center;
  padding: 50px 0; /* Adjust padding for spacing */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-section24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./audimedia/audi-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section24 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section24 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section24 img {
  width: auto;
  max-width: min(100vw, 35vh);
  height: auto;
}

.about-section24 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section24 > div {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section24 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section25 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./audimedia/panel-background.png");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section25 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section25 > div {
  font-size: 23.5px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section25 img {
  width: auto;
  max-width: min(100vw, 50vh);
  height: auto;
}

.about-section25 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section25 > div {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section25 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./audimedia/film-screening-background.webp");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section26 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section26 > div {
  font-size: 22.5px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section26 img {
  width: auto;
  max-width: min(100vw, 40vh);
  height: auto;
}

.about-section26 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section26 > div {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section26 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./audimedia/prize-background.webp");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section27 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section27 > div {
  font-size: 20px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section27 img {
  width: auto;
  max-width: min(100vw, 65vh);
  height: auto;
}

.about-section27 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section27 > div {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section27 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}