body {
    margin: 0;
    padding: 0;
}

.aboutsection {
  text-align: center;
  padding: 50px 0; /* Adjust padding for spacing */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-section16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./gamingmedia/dfwq9r9-5590508c-aa53-48bc-870b-ac20fd9a6a9d.png");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section16 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section16 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section16 img {
  width: auto;
  max-width: min(100vw, 35vh);
  height: auto;
}

.about-section16 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section16 > div {
    flex-direction: column;
    align-items: center;
  }
  
  .about-section16 img {
    max-width: min(70vw, 60vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}


.about-section17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./gamingmedia/gaming-tour-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section17 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section17 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 5rem;
}

.about-section17 img {
  width: auto;
  max-width: min(100vw, 80vh);
  height: auto;
}

.about-section17 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section17 > div {
    flex-direction: column;
    align-items: center;
    font-size: 22px;
  }
  
  .about-section17 img {
    max-width: min(70vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./gamingmedia/gaming-tour-background1.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section18 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section18 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section18 img {
  width: auto;
  max-width: min(100vw, 72vh);
  height: auto;
}

.about-section18 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section18 > div {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  
  .about-section18 img {
    max-width: min(70vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}


.about-section19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("./gamingmedia/gaming-booth-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section19 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section19 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section19 img {
  width: auto;
  max-width: min(100vw, 60vh);
  height: auto;
}

.about-section19 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section19 > div {
    flex-direction: column;
    align-items: center;
    font-size: 22px;
  }
  
  .about-section19 img {
    max-width: min(80vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

