.module-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  margin: 0;
}
.module-card {
  text-align: center;
  height: min(100vw, 80vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 2em;
}
.module-desc {
  text-align: center;
  margin: 1em;
  font-size: 1.5em;
}