body {
  margin: 0;
  padding: 0;
}

.aboutsection {
  text-align: center;
  padding: 50px 0; /* Adjust padding for spacing */

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container > div {
  height: max(100vh, 100vw);
}

.about-section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(205, 7, 149, 0.8),
      rgba(205, 7, 149, 0.8)
    ),
    url("./stagemedia/stage-module-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section5 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section5 > div {
  display: flex;
  font-size: 2em;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section5 img {
  width: auto;
  max-width: min(20vw, 30vh);
  height: auto;
}

.team-members {
  display: flex;
  margin-top: -0.5rem; /* Adjust the negative margin to reduce the gap */
}

.member {
  text-align: center;
  margin: 0.5rem; /* Adjust the margin between images */
}

@media screen and (max-width: 768px) {
  .about-section5 > div {
    flex-direction: row; /* Keep the row arrangement on smaller screens */
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
  }

  .about-section5 img {
    max-width: min(
      40vw,
      80vh
    ); /* Adjust the size as needed for smaller screens */
    margin: 0.5rem; /* Add some margin between images on smaller screens */
  }
}

.about-section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url("./stagemedia/family-feud-pfp.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section6 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section6 > div {
  font-size: 2em;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section6 img {
  width: auto;
  max-width: min(100vw, 60vh);
  height: auto;
}

.about-section6 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section6 > div {
    flex-direction: column;
    align-items: center;
  }

  .about-section6 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url("./stagemedia/tier-list-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section7 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section7 > div {
  font-size: 2em;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section7 img {
  width: auto;
  max-width: min(100vw, 90vh);
  height: auto;
}

.about-section7 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section7 > div {
    flex-direction: column;
    align-items: center;
  }

  .about-section7 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(27, 27, 85, 0.8),
      rgba(27, 27, 85, 0.8)
    ),
    url("./stagemedia/opening-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section8 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section8 > div {
  font-size: 2em;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section8 img {
  width: auto;
  max-width: min(100vw, 75vh);
  height: auto;
}

.about-section8 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section8 > div {
    flex-direction: column;
    align-items: center;
  }

  .about-section8 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(62, 62, 166, 0.8),
      rgba(62, 62, 166, 0.8)
    ),
    url("./stagemedia/gaming-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section9 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section9 > div {
  font-size: 2em;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section9 img {
  width: auto;
  max-width: min(100vw, 63vh);
  height: auto;
}

.about-section9 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section9 > div {
    flex-direction: column;
    align-items: center;
    font-size: 2em;
  }

  .about-section9 img {
    max-width: min(80vw, 60vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(129, 21, 153, 0.8),
      rgba(129, 21, 153, 0.8)
    ),
    url("./stagemedia/performance-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section10 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section10 > div {
  font-size: 2em;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section10 img {
  width: auto;
  max-width: min(100vw, 75vh);
  height: auto;
}

.about-section10 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section10 > div {
    flex-direction: column;
    align-items: center;
  }

  .about-section10 img {
    max-width: min(100vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(27, 27, 85, 0.8),
      rgba(27, 27, 85, 0.8)
    ),
    url("./stagemedia/geeks-vocals-background1.png");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section11 h1 {
  margin-bottom: 1rem;
  font-size: 3em;
}

.about-section11 > div {
  font-size: 2em;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section11 img {
  width: auto;
  max-width: min(60vw, 21vh);
  height: auto;
}

.about-section11 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section11 > div {
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }

  .about-section11 img {
    max-width: min(30vw, 40vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

.about-section12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(27, 27, 85, 0.8),
      rgba(27, 27, 85, 0.8)
    ),
    url("./stagemedia/cosplay-walk-background.jpg");
  background-position: center;
  background-size: cover;
  color: #fff; /* Set text color for better visibility on the background */
}

.about-section12 h1 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.about-section12 > div {
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Set to row for horizontal arrangement */
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure full width for background image responsiveness */
  padding: 1rem;
}

.about-section12 img {
  width: auto;
  max-width: min(60vw, 32vh);
  height: auto;
}

.about-section12 div > div {
  flex: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .about-section12 > div {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }

  .about-section12 img {
    max-width: min(60vw, 80vh); /* Adjust the size as needed */
    margin-bottom: 1rem;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .about-section {
    font-size: 20px;
  }
}
