.card {
  text-align: center;

  margin: 1.5rem;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 2em;
  border-color: #5c469c;
  border-width: 2px;
  border-style: outset;
  background-color: rgba(0, 0, 0, 0.7);
  height: min("50vh", "100vw");
  width: 70vw;
}

.mobile-btn {
  background-color: #5c469c;
  column-gap: white;
  border-radius: 1em;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mobile-btn a {
  text-decoration: none;
  color: white;
}
.BA-title {
  color: black;
  text-align: center;
  background-color: white;
}
.emptyspace {
  height: 30%;
}
.card:hover {
  scale: 1.02;
  box-shadow: 1em 1em 10em 0em #5c469c;
  border-style: none;
}
.card_elem {
  padding: 0.5rem;
}
.card__image {
  height: 29vw;
  border-radius: 2em;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.card__btn {
  width: 12rem;
  height: auto;
}

button.card__btn .circle {
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 6rem;
  background: black;
  border-radius: 1.625rem;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button.card__btn .circle .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button.card__btn .circle .icon.arrow {
  left: 0.5rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button.card__btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.1rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.card__btn .button-text {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  text-decoration: none;
}

button:hover .circle {
  width: 110%;
  background: #5c469c;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(0.5rem, 0);
}

button:hover .button-text {
  color: #fff;
}

@media (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
