body {
  color: #fff;
  font-family: "open-sans-bold", AvenirNext-Medium, sans-serif;
  font-size: 18px;
}

#contact-screen1 {
  background: black;
}

#contact-screen3 {
  background: #e1793d;
}

/* section 2 css */
#contact-screen2 {
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url("ContactPageComponents/media/b3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
  width: 100%;
}
.contact-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 40vw;
  width: 100%;
  text-align: center;
}

.representative {
  margin-bottom: 20px;
}

.representative h3 {
  color: #333;
}

.representative p {
  color: #666;
  margin: 5px 0;
}

/* .b2 {
    align-items: center;
    background-image: url("ContactPageComponents/media/b2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center bottom;
    height: 90vh;
    width: 100%;
  } */
