.button-container {
  text-align: center;
}
#mod-screen1 {
  background-color: #560688;
}
#mod-screen2 {
  background-color: #0a97cd;
}
#mod-screen2 {
  background-color: rgb(54, 52, 52);
}
#mod-screen3 {
  background-color: rgb(54, 52, 52);
}
#mod-screen4 {
  background-color: rgb(54, 52, 52);
}
#mod-screen5 {
  background-color: rgb(54, 52, 52);
}
